name: Update Repository List

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get repository list
        id: repo_list
        run: |
          {
            echo "repolist<<EOF"
            curl -s -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/search/repositories?q=topic:llm+user:kayaozan+sort:author-date-asc" \
            | jq -r '.items[] | "###\n[\(.name)](\(.html_url))\n\n\(.description // "")\n"'
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Update README
        env:
          repolist: ${{ steps.repo_list.outputs.repolist }}
        run: |
          echo "# My GenAI Projects" > README.md
          echo "This repository is simply a homepage for all my Generative AI projects. You may find them below." >> README.md
          echo "" >> README.md
          echo "$repolist" >> README.md

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'Update repository list'
          
